body{
    border: 10px purple;
    background-image: url("bg_img.jpg");
}
h3{
    margin-top: 50px;
    color: white;
}
#user_name{
    width: 200px;
}
button{
    margin-top: 20px;
}

div{
    background-color: turquoise;
    border: 10px black;
    width: 80%;
}
